@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  scroll-behavior: smooth;
}
body .app-container {
  @media (min-width: 1500px) {
    padding-inline: 5rem;
  }
  @media (min-width: 1700px) {
    padding-inline: 10rem;
  }
  @media (min-width: 1900px) {
    padding-inline: 15rem;
  }
}
